/* Adjusing logo size */
.logo {
  width: 200px;
  height: 80px;
}


/* Styling the links in nav bar*/
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #3A6069;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Text styling*/
#terms {
  position: relative;
  top: 35px;
  text-decoration: underline;
  font-size: medium;
  color: #54838d;
}

/*Headings styling*/
.headings {
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a484f;
}


/* Styling the layout of the nav bar*/
.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  position: relative;
  bottom: 35px;
  justify-content: flex-end;
  margin-right: 20px;
}


/* Styling the form layout*/
.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}


/* Styling the form elements : fields container , label , input  */
.field-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.field-container label {
  font-size: larger;
  font-weight: bolder;
  color: #121e20;
}

.field-container input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #3A6069;
  border-radius: 4px;

}


/* Button styling */
.btn-container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 15px;
}


#submitBtn {
  font-size: 18px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #3A6069;
  border-radius: 4px;
}


#submitBtn:hover {
  background-color: #54838d;
}


/*Terms fields styling*/
.termsFields {
  position: relative;
  top: 40px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: medium;
}

/*Footer styling*/
footer {
  position: relative;
  top: 50px;
  text-align: center;
  padding: 20px;
  background-color: #3a6069a7;
  color: white;
}

/* Adjusting layout for mobile phones.The only modification required for screens below is adjusting the link size in the nav bar */
@media (max-width: 600px) {
  a {
    font-size: 18px;
  }
}